@import '_vars.scss';

/* style for lightbox */
.hidden{
    display: none;
}
.lightbox {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.95);
}

/* css for close button of the lightbox */
.close-lightbox {
	position: absolute;
	right: 12px;
	top: 12px;
	font-family: arial, helvetica, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

/* style to show the lightboc on click */
.show-lightbox { display: block; }

/* style for actual content of lightbox */
#lightbox-image{
    margin-top: 10%;
}
#workInfo{
    margin-top: 150px; 
}

body{
    background-color: $body-color;
    color: white;
}

#workHeading,h2{
    color: $heading-color;
}
#workDesc{
    color: white;
}
section{
    background-color: $section-color;
    margin: 20px 0px 20px 0px;
}